.page-wrapper {

}

.page-header {
  padding-top: 3rem;
  font-size: 2rem;
}

.page-header > *:last-child {
  margin-bottom: 0;
}

.page-body {
  margin-bottom: 6rem;
  padding-top: 2rem;
}

.page-body__inner {

}

.page-body__inner > *:last-child {
  margin-bottom: 0;
}
