.post-hero {
  width: 100vw;
  height: auto;
  display: block;
  margin-top: -3rem;
  margin-left: calc( ((100vw - 100%) / 2 ) * -1 );
}

.post-hero img {
  width: 100%;
}

.post-header {
  padding-top: 3rem;
  font-size: 2rem;
}

.post-header h1 {
  font-size: 2em;
  line-height: 1.2;
}

.post-body {
  font-size: 1.6rem;
}

.post-body__inner {

}

.post-body__inner img {
  /*
    `*: auto !important` temporarily required in order to override inline WP styles.
  */
  width: auto !important;
  height: auto !important;
  display: block;
  margin: 3rem auto;
}

.post-body__inner figure {
  margin: 3rem auto;
}

.post-body__inner figure img {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.post-body__inner figure figcaption {
  font-size: 0.75em;
  text-transform: uppercase;
}

.post-body__inner figure figcaption:not( :first-child ) {
  margin-top: 2rem;
}

.post-footer {

}
