.single-wrapper {
  font-size: 4vw;
}

/* /// TEMP */
@media (min-width: 480px) {
  .single-wrapper {
    font-size: 3vw;
  }
}

@media (min-width: 768px) {
  .single-wrapper {
    font-size: 2vw;
  }
}

@media (min-width: 1024px) {
  .single-wrapper {
    font-size: 2rem;
  }
}

.single-header {
  padding-top: 3rem;
  font-size: 1.75em;
}

.single-header h1 {
  line-height: 1.2;
}

.single-body {
  margin-bottom: 6rem;
  font-size: 1em;
}

.single-body__inner img {
  /*
    `*: auto !important` temporarily required in order to override inline WP styles.
  */
  width: auto !important;
  height: auto !important;
  display: block;
  margin: 3rem auto;
}

.single-body__inner figure {
  margin: 3rem auto;
}

.single-body__inner figure img {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.single-body__inner figure figcaption {
  font-size: 0.75em;
  text-transform: uppercase;
}

.single-body__inner figure figcaption:not(:first-child) {
  margin-top: 2rem;
}

.single-footer {
  margin-bottom: 6rem;
}

.single-footer > *:last-child {
  margin-bottom: 0;
}

.ad-wrapper--single {
  width: 100vw;
  height: auto;
  display: block;
  background: #EEE;
  margin: 0;
  margin-left: calc( ( 100vw - 100% ) / 2 * -1);
  padding: 2rem 0;
}

.ad-wrapper--single * {
  margin: 0 auto !important;
  padding: 0 !important;
  background: transparent !important;
}
