nav {
  font-size: 1.8rem;
}

nav a {
  display: inline-block;
  font-size: 1em;
  outline: none;
}

nav a:hover,
nav a:focus {
  color: #222;
  border-bottom-color: inherit;
}

.primary {
  font-size: 1.6rem; /* 16px */
  flex-grow: 1;
  display: none;

  // Media queries
  @media ( min-width: 860px ) {
    display: block;
  }

  @media ( min-width: 1200px ) {
    font-size: 1.8rem; /* 20px */
  }
}

.primary a {
  padding: 0 1em;
  position: relative;
}

.primary a:first-child {
  padding-left: 0;
}

.primary a:last-child {
  padding-right: 0;
}

.primary a:not( :first-child )::before,
.secondary a:not( :first-child )::before {
  content: '•';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate( -50%, -50% );
  color: #444;
}

.secondary {
  width: 100%;
  height: auto;
  padding: 0;
  color: #FFF;
  background: #222;
  font-size: 1.2rem;
  text-align: center;

  @media ( min-width: 1200px ) {
    font-size: 1.5rem;
  }
}

.secondary a {
  color: rgba( 255, 255, 255, 0.6 );
  margin: 0;
  padding: 0 2.5rem; /* 25px */
  line-height: 2.8rem; /* 28px */
  position: relative;
}

.secondary a:hover,
.secondary a:focus {
  color: rgba( 255, 255, 255, 1 );
}

.secondary a:hover,
.secondary a:focus {
  color: #FFF;
}
