nav {
  font-size: 1.8rem;
}

nav a {
  display: inline-block;
  border-bottom: 0.2rem solid transparent;
  font-size: 1em;
  outline: none;
}

nav a:hover,
nav a:focus {
  color: #222;
  border-bottom-color: inherit;
}

nav a:not( :last-child ) {
  margin-right: 1em;
}
