nav {
  font-size: 1.8rem;
}

nav a {
  display: inline-block;
  border-bottom: 0.2rem solid transparent;
  font-size: 1em;
  outline: none;
}

nav a:hover,
nav a:focus {
  color: #222;
  border-bottom-color: inherit;
}

nav a:not( :last-child ) {
  margin-right: 1em;
}

.primary {}

.secondary {
  width: 100%;
  height: auto;
  padding: 1rem;
  color: #FFF;
  background: #222;
  font-size: 1.4rem;
  text-align: center;
}

.secondary a {
  color: inherit;
  margin: 0 1em;
  font-size: 1em;
}

.secondary a:hover,
.secondary a:focus {
  color: #FFF;
}
