header {
  width: 100%;
  height: auto;
  display: block;
  background: #FFF;
  border-bottom: 0.1rem solid #DDD;
  margin: 0;
  padding: 0;
}

.header__inner {
  width: 94%;
  max-width: 96rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem 0;
}
