.header {
  width: 100%;
  height: auto;
  display: block;
  background: #FFF;
  border-bottom: 0.1rem solid #DDD;
  margin: 0;
  padding: 0;
}

.header__upper,
.header__inner {
  position: relative;
  overflow: hidden;
}

.header__inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__inner {
  width: 100%;
  padding: 3rem;
}

.header__inner h1 {
  margin: 0;
}

.header__upper {
  width: 100%;
  height: auto;
}

.search-wrap {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  border-top: 0.1rem solid #DDD;
  margin: 0 auto;
  padding: 1rem 3rem;
  position: absolute;
  bottom: 100%;
  left: 0;
  transition: all 0.2s;
}

.search-wrap.is-active {
  bottom: 0;
}

.search-wrap form {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  margin: 0 auto;
  margin-right: 3rem;
  padding: 0;
}

.search-wrap form input {
  margin: 0;
  padding: 0;
  color: #666;
  background: transparent;
  font-size: 1.6rem;
}

.search-wrap form input[type="text"] {
  width: 100%;
  flex: 1 1 auto;
  border: none;
  border-bottom: 0.1rem solid #666;
}

.search-wrap form input[type="submit"] {
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  flex: 0 0 auto;
  margin-left: 2rem;
  background: #DDD; /* /// TEMP */
  border: none;
}

.logo-wrap {
  width: 20%;
}

.logo {
  height: 4rem;
  display: block;
}

.controls-wrap {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-wrap {

}

.socials-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-list li {
  display: block;
  padding: 0;
}

.socials-list li {
  margin-right: 4rem;
}

.socials-list a {
  display: block;
}

.socials-list img {
  width: auto;
  height: 2.2rem;
  display: block;
}

.search-toggle {
  width: 4.5rem;
  height: 4.5rem;
  display: block;
  cursor: pointer;
}
