.post-preview, .post-preview--hero, .post-preview--large, .post-preview--supporting {
  width: 33.333333%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 4%;
  padding: 0 1%;
  position: relative;
}

.post-preview::after, .post-preview--hero::after, .post-preview--large::after, .post-preview--supporting::after {
  content: '';
  display: table;
  clear: both;
}

.post-preview--hero__hero, .post-preview--supporting__hero {
  width: 100%;
  height: auto;
  padding-top: 66.666666%;
  position: relative;
  animation: fade 1s forwards;
}

.post-preview__hero img, .post-preview--hero__hero img, .post-preview--large__hero img, .post-preview--supporting__hero img {
  /*
    `*: *!important` temporarily required in order to override inline WP styles.
  */
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.post-preview__header, .post-preview--hero__header, .post-preview--large__header, .post-preview--supporting__header {
  padding: 2rem;
  background: #FFF;
  box-shadow: 0rem 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.post-preview__header:not(:first-child), .post-preview--hero__header:not(:first-child), .post-preview--large__header:not(:first-child), .post-preview--supporting__header:not(:first-child) {
  padding-top: 2rem;
}

.post-preview__header > *:last-child, .post-preview--hero__header > *:last-child, .post-preview--large__header > *:last-child, .post-preview--supporting__header > *:last-child {
  margin-bottom: 0;
}

.post-preview__header h1, .post-preview--hero__header h1, .post-preview--large__header h1, .post-preview--supporting__header h1 {
  font-size: 1.5em;
}

.post-preview__header h2, .post-preview--hero__header h2, .post-preview--large__header h2, .post-preview--supporting__header h2 {
  margin-bottom: 1rem;
  font-size: 1em;
  text-transform: uppercase;
}

.post-batch {
  display: block;
}

.post-batch__posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-batch__posts::after {
  content: '';
  display: table;
  clear: both;
}

.post-preview {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1rem;
}

@media (min-width: 860px) {
  .post-preview {
    width: 33.333333%;
    flex-direction: column;
  }
}

.post-preview__hero {
  width: 30%;
  height: auto;
  flex-grow: 0;
}

@media (min-width: 860px) {
  .post-preview__hero {
    width: 100%;
  }
}

.post-preview__header {
  width: 70%;
}

@media (min-width: 860px) {
  .post-preview__header {
    width: 100%;
  }
}

/* VARIANT: HERO */
.post-preview--hero {
  width: 100%;
}

.post-preview--hero__hero {
  width: 100vw;
  height: auto;
  display: block;
  margin-left: calc( ( 100vw - 100% ) / 2 * -1);
  padding-top: 56.25%;
  /* 16:9 aspect */
}

.post-preview--hero__hero img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.post-preview--hero__header {
  margin-top: -2.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .post-preview--hero__header {
    font-size: 2rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 992px) {
  .post-preview--hero__header {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .post-preview--hero__header {
    margin-top: -5rem;
  }
}

/* VARIANT: LARGE */
.post-preview--large {
  width: 100%;
}

/* VARIANT: SUPPORTING */
.post-preview--supporting {
  width: 50%;
  font-size: 1.2rem;
}

.post-preview--supporting__hero img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
