.drawer-nav {
  width: 100%;
  max-width: calc( 100vw - 8rem);
  height: 100%;
  background: #ec1b34;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.25s;
}

@media (max-width: 859px) {
  .drawer-nav.is-active {
    transform: translateX(0);
  }
}

.drawer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drawer-nav li {
  font-size: 3rem;
  line-height: 1.2;
}

.drawer-nav li:not(:last-child) {
  margin-bottom: 1rem;
}

.drawer-nav a {
  color: #FFF;
}

.drawer-nav a:hover, .drawer-nav a:focus {
  color: #DDD;
}

.drawer-nav__header {
  min-height: 5rem;
  flex: 0 0 auto;
  padding: 2rem 2rem 1rem;
}

.drawer-nav__body {
  flex: 1 1 auto;
  padding: 1rem 2rem;
}

.drawer-nav__footer {
  min-height: 5rem;
  flex: 0 0 auto;
  padding: 1rem 2rem 2rem;
}
