*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: Georgia, Verdana, serif;
  font-weight: 300;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #222;
  background: #FAFAFA;
  font-size: 1.6rem;
  line-height: 1.6;
}

body * {
  margin-top: 0;
}

main {
  width: 94%;
  max-width: 102.4rem; /* 1024px / 10px = 102.4rem */
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

a {
  color: #222;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #444;
}

figure {
  max-width: 100%;
}

img {
  max-width: 100%;
}
